<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RDR2AnimationNameFinder.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <RDR2AnimationNameFinder.Properties.Settings>
            <setting name="file_matchAnim" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="file_matchClip" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="file_matchExpr" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="misc_showFileType" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="export_includeTypeInExport" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="export_exportAsArray" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="misc_includeFileTypeInCopy" serializeAs="String">
                <value>False</value>
            </setting>
        </RDR2AnimationNameFinder.Properties.Settings>
    </userSettings>
</configuration>